

.titulo {
    color: #008080;
    text-align: center;
}
.tabla_carrito {
    background-color: #98ffe95b;
    margin: 30px auto;
    box-shadow: 0px 0px 0px 1px #01332d,
                0px 5px 12px -2px #01332d,
                0px 18px 36px -6px #01332d; 
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    width: 0px;
    ;
    /* 
    border-collapse: collapse;
    
    
  
   
     */

}

.tabla_carrito th, .tabla_carrito td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.tabla_carrito th, .tabla_carrito td :first-child {
    padding-left: 20px;
}

.tabla_carrito th, .tabla_carrito td :last-child {
    padding-right: 20px;
}

.tabla_carrito tbody tr:hover {
    background-color: #f5f5f5;
}

.img-tomo_carro {
    width: 100%;
    height: auto;
}


.tabla_carrito button {
    background: #01332d;
    color: #fff;
    border: none;
    padding: 3px;
    border-radius: 5px;
    color: #d7fff6;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center center;
    font-size: 15px;
    font-weight: bold;
}
.centro2{
    margin-top: 10%;
    display: grid;
    place-items: center;
  }
.tabla_carrito button:hover {
    background-color:#afefe8;
    transition: all 1s ;
    color:black;
    border: 1px solid #aaa;
}





.pie th, .pie td {
    text-align: right;
    padding-right: 20px;
}

.pie th {
    background-color: #eee;
}

.product-quantity {
    display: flex;
    align-items: center;
}

.quantity {
    padding: 0 10px;
}
@media(max-width: 1000px)
{
    
.titulo {
    margin-top: 25%;
}
.tabla_carrito {
    background-color: #98ffe95b;
    margin: 5px auto;
    box-shadow: 0px 0px 0px 1px #01332d,
                0px 5px 12px -2px #01332d,
                0px 18px 36px -6px #01332d; 
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    width: 0px;
    font-size: 65%
    
    /* 
    border-collapse: collapse;
    
    
  
   
     */

}

.tabla_carrito th, .tabla_carrito td {
    padding: 3px 5px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.tabla_carrito th, .tabla_carrito td :first-child {
    padding-left: 7px;
}

.tabla_carrito th, .tabla_carrito td :last-child {
    padding-right: 7px;
}




.tabla_carrito button {
    background: #01332d;
    color: #fff;
    border: none;
    padding: 2px 3px;
    border-radius: 5px;
    color: #d7fff6;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center center;
    font-size: 8px;
    font-weight: bold;
}

.tabla_carrito button:hover {
    background-color:#afefe8;
    transition: all 1s ;
    color:black;
    border: 1px solid #aaa;
}





.pie th, .pie td {
    text-align: right;
    padding-right: 5px;
}

.pie th {
    background-color: #eee;
}

.product-quantity {
    display: flex;
    align-items: center;
}

.quantity {
    padding: 0 5px;
}
}